<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pony_admin.dao.CategoryDAO">
    <sql id="all">
        SELECT `name`,`type`,`parent`,`date`,`is_fresh` as `asFresh`
    </sql>

    <insert id="insert" parameterType="com.pony_admin.domain.CategoryEntity">
        <selectKey resultType="int" keyProperty="id">
            SELECT LAST_INSERT_ID() as id
        </selectKey>
        INSERT INTO
        `category`(
        `name`,
        `type`,
        `parent`,
        `date`,
        `is_fresh`
        )VALUES(
        #{name},
        #{type},
        #{parent},
        #{date},
        #{isFresh}
        )
    </insert>

    <select id="getCategoryByType" resultType="com.pony_admin.domain.CategoryEntity">
        <include refid="all"/>
        FROM `category` where `type`=#{type}
    </select>

    <select id="getCategoryByParent" resultType="com.pony_admin.domain.CategoryEntity">
        <include refid="all"/>
        FROM `category` where `parent`=#{parent}
    </select>

</mapper>