<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pony_admin.dao.ProductPriceDAO">

    <insert id="insert" parameterType="com.pony_admin.domain.ProductPriceEntity">
        <selectKey resultType="int" keyProperty="id">
            SELECT LAST_INSERT_ID() as id
        </selectKey>
        INSERT INTO `product_price`(
        `product_id`,
        `price`,
        `enable_date`
        )VALUES (
        #{productId},
        #{price},
        #{enableDate}
        )
    </insert>

</mapper>