<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pony_admin.dao.ReservationDAO">

    <insert id="insert" parameterType="com.pony_admin.domain.ReservationEntity">
        <selectKey resultType="int" keyProperty="id">
            SELECT LAST_INSERT_ID() as id
        </selectKey>
        INSERT INTO
        `reservation`(
        `name`,
        `url`,
        `date`
        )VALUES(
        #{name},
        #{url},
        #{date}
        )
    </insert>

    <select id="getAllReservationList" resultType="com.pony_admin.domain.ReservationEntity">
        SELECT id,`name` FROM `reservation`
    </select>

    <!--根据ID获取预约信息 -->
    <select id="getReservationEntityById" resultType="com.pony_admin.domain.ReservationEntity">
        SELECT id as id,
               `name` as name,
               url as url,
               reservation_pic_height as reservationPicHeight,
               reservation_pic_width as reservationPicWidth
          FROM `reservation`
         where id = #{reservationId}
    </select>
</mapper>